@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
    
}

.main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, rgba(255, 255, 255, .2)); 
    color:firebrick;
    border-radius: 10px;
    padding: 40px 10px;
    align-items: center;
    justify-content: center;
    text-align: center  ;
}
.container h3{
    color: #000000;
}

.number-input,
.verification,
.result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

input {
    font-size: 17px;
    outline: none;
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 5px 10px;
    
}
input::placeholder {
    color: #fff;
}

button {
    width: 98%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

button:hover {
    background-color: #960000;
    color: #fff;
}

img {
    width: 50px;
}